* {
  box-sizing: border-box;
}

html{
  height: 100%;
}

body{
  height: 100%;
  margin: 0;
  padding-top: 10px;
  padding-left: 10px;

  background-image: linear-gradient(to bottom right, rgb(12, 39, 74), rgb(74, 12, 38));
}

.widget-raster {
  width: 100%;
  height: 100%;
  position: relative;
}

.main_widget {
  float: left;
  height: 15.0%;
  box-sizing: border-box;
  width: 100%;
  padding-bottom: 10px;
  padding-right: 10px;
  position: relative;
}

.container_widget{
  float: left;
  height: 85%;
  box-sizing: border-box;
  width: 100%;
  padding-bottom: 10px;
  padding-right: 10px;
  position: relative;
}

.glass{
  position: relative;
  
  width: 100%;
  height: 100%;
  border-radius: 30px;
  background-color: rgba(176, 176, 176, 0.00);
  box-shadow:
        inset -3px 0px 10px rgba(255, 255, 255, 0.2),
        inset 0px 5px 10px rgba(255, 255, 255, 0.2);
}

.glass::before{
  content: "";
  position: absolute;
  border-radius: inherit;
  top: 0; right: 0; bottom: 0; left: 0;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
}

@media screen and (max-height: 300px), (max-width: 300px){
  body{
    padding-top: 5px;
    padding-left: 5px;
  }

  .container_widget, .main_widget{
    padding-bottom: 5px;
    padding-right: 5px;
  }
}

@media (min-aspect-ratio: 1/1) {
  .main_widget {
    width: 15%;
    height: 100%;
    float: left;
  }

  .container_widget{
    width: 85%;
    height: 100%;
    float: right;
  }
}

@media (min-width: 1000px) {
  .main_widget {
    width: 100px;
    height: 100%;
  }

  .container_widget{
    width: calc(100% - 100px);
    height: 100%;
  }
}

@media (min-height: 1000px) {
  .main_widget {
    width: 100%;
    height: 100px;
  }

  .container_widget{
    width: 100%;
    height: calc(100% - 100px);
  }
}
