const pseudo = document.createElement('style');
document.head.appendChild(pseudo);

pseudo.innerHTML = `
    .glass::before{
        background-image: url('https://www.meisterdrucke.com/kunstwerke/1260px/Claude_Monet_-_Westminster_tower_-_%28MeisterDrucke-1117674%29.jpg');
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        -webkit-filter: blur(6px);
        filter: blur(6px);
    }
`;
